.book-details-container {
  top: 0;
  background-color: rgba(155, 173, 134, 0.493);
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  cursor: pointer;

  .book-details {
    z-index: 3;
    width: 20rem;
    height: 50rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: auto;
    gap: 38px;

    .book-details__title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #000;
      text-decoration: none;
    }

    div:first-child {
      img {
        max-height: 20rem;
        height: 14rem;
        margin-bottom: 20px;
      }
    }

    .book-details-content {
      h2 {
        height: 4.5em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.5em;
      }

      p:not(:last-child) {
        font-size: 1.2rem;
      }

      p:last-child {
        margin-top: 20px;
      }
    }

    button {
      padding: 1rem;
      font-size: 1rem;
      font-weight: 700;
      border: none;
      border-radius: 0.25rem;
      min-width: 110px;
      text-align: center;
      cursor: pointer;
      color: rgba(155, 173, 134, 0.493);
      &:hover {
        color: white;
        background-color: rgba(123, 138, 106, 0.493);
      }
    }
  }
}
